ACCOUNT_CONF_PATH="<%= acme_conf_dir %>/account.conf"

#Account configurations:
#Here are the supported macros, uncomment them to make them take effect.

ACCOUNT_EMAIL='<%= email %>'

ACCOUNT_KEY_PATH="<%= acme_conf_dir %>/account.key"
CERT_HOME="<%= cert_path %>"



#LOG_FILE=""
#LOG_LEVEL=1

#AUTO_UPGRADE="1"

#STAGE=1 # Use the staging api
#FORCE=1 # Force to issue cert
#DEBUG=1 # Debug mode

OPENSSL_BIN='/usr/bin/openssl'

#USER_AGENT="acme.sh/2.6.5 (https://github.com/Neilpang/acme.sh)"

USER_PATH='/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'

#dns api
#######################
#Cloudflare:
#api key
#CF_Key="sdfsdfsdfljlbjkljlkjsdfoiwje"
#account email
#CF_Email="xxxx@sss.com"

#######################
#Dnspod.cn:
#api key id
#DP_Id="1234"
#api key
#DP_Key="sADDsdasdgdsf"

#######################
#Cloudxns.com:
#CX_Key="1234"
#
#CX_Secret="sADDsdasdgdsf"

#######################
#Godaddy.com:
#GD_Key="sdfdsgdgdfdasfds"
#
#GD_Secret="sADDsdasdfsdfdssdgdsf"

#######################
#nsupdate:
#NSUPDATE_KEY="/path/to/update.key"
#NSUPDATE_SERVER="192.168.0.1"

#######################
#PowerDNS:
#PDNS_Url="http://ns.example.com:8081"
#PDNS_ServerId="localhost"
#PDNS_Token="0123456789ABCDEF"
#PDNS_Ttl=60

#######################
#Amazon Route53:
#AWS_ACCESS_KEY_ID=XXXXXXXXXX
#AWS_SECRET_ACCESS_KEY=XXXXXXXXXXXXXXX

    
