#!/usr/bin/env bash
/bin/bash <%= acmesh_install_path %>/acme.sh --home <%= acme_conf_dir %> --csr <%= csr_path %> --webroot <%= webroot %> --signcsr >/dev/null 2>&1

if [ $? -eq 0 ]
then
	service <%= webserver %> reload
fi
